// Colors
$light: #ffffff;
$black: #000000;
$primary-color: #00945f;
$green-color: #759b22;
$secondary-color: #e97300;
$default-text: #888888;
$divider-color: #c0c0c0;
$dark-text: #666;
$light-bg: #ebf7f5;



// Breakpoints
$bp-xl: 1200px;
$bp-lg: 994px;
$bp-md: 768px;
$bp-sm: 576px;
// Font sizes

$font-size-xxxl: 30px;
$font-size-xxl: 24px;
$font-size-xl: 22px;
$font-size-lg: 18px;
$font-size-default: 16px;
$font-size-md: 14px;
$font-size-sm: 12px;
$font-size-xs: 11px;





// Container widths for screen sizes
$container-sm: 540px;
$container-md: 720px;
$container-lg: 960px;
$container-xl: 1200px;

// Spacing
$spacing-xs: 5px;
$spacing-sm: 10px;
$spacing-md: 15px;
$spacing-lg: 20px;
$spacing-xl: 30px;
$spacing-xxl: 50px;



